.github-stats {
    font-size: clamp(1.5rem, 2vw, 2rem);
    background-color: var(--background);
    border-radius: var(--border-radius);
    padding: 2rem;
    position: relative;
    overflow: hidden;
    isolation: isolate;
    z-index: 1;
}
.github-stats::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: var(--text);
    transform: translateY(101%);
    transition: transform 0.3s ease-in-out;
}
.github-stats:hover::before {
    transform: translateY(0%);
}
.github-stats:hover {
    color: var(--background);
    transition: all 0.2s ease-in;
}
.github-stats:hover .github-stats__item {
    background: initial;
    background-clip: initial;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
}
.github-stats:hover .github-title {
    color: var(--light-primary);
}
.github-title {
    font-size: var(--section-title-font-size);
    text-transform: uppercase;
    transition: color 0.2s ease-in;
}
.github-stats__list {
    margin-block: 1rem;
    display: grid;
    gap: 1rem;
}
.github-stats__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(120deg, var(--primary), var(--accent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease-in;
}
.github-stats__item > p:nth-child(2) {
    font-weight: 700;
}
